<title>Maxent model for Aye_Aye</title>
<CENTER><H1>Maxent model for Aye_Aye</H1></CENTER>
<br> This page contains some analysis of the Maxent model for Aye_Aye, created Tue Nov 01 16:17:45 GMT 2016 using Maxent version 3.3.3k.  If you would like to do further analyses, the raw data used here is linked to at the end of this page.<br>
<br><HR><H2>Analysis of omission/commission</H2>
The following picture shows the omission rate and predicted area as a function of the cumulative threshold.  The omission rate is is calculated both on the training presence records, and (if test data are used) on the test records.  The omission rate should be close to the predicted omission, because of the definition of the cumulative threshold.
<br><img src="plots/Aye_Aye_omission.png"><br>
<br> The next picture is the receiver operating characteristic (ROC) curve for the same data.  Note that the specificity is defined using predicted area, rather than true commission (see the paper by Phillips, Anderson and Schapire cited on the help page for discussion of what this means).  This implies that the maximum achievable AUC is less than 1.  If test data is drawn from the Maxent distribution itself, then the maximum possible test AUC would be 0.990 rather than 1; in practice the test AUC may exceed this bound.
<br><img src="plots/Aye_Aye_roc.png"><br>
<br>
<br>
Some common thresholds and corresponding omission rates are as follows.  If test data are available, binomial probabilities are calculated exactly if the number of test samples is at most 25, otherwise using a normal approximation to the binomial.  These are 1-sided p-values for the null hypothesis that test points are predicted no better than by a random prediction with the same fractional predicted area.  The "Balance" threshold minimizes 6 * training omission rate + .04 * cumulative threshold + 1.6 * fractional predicted area.<br>
<br><table border cols=6 cellpadding=3><tr><th>Cumulative threshold</th><th>Logistic threshold</th><th>Description</th><th>Fractional predicted area</th><th>Training omission rate</th><th>Test omission rate</th><th>P-value</th><tr align=center><td>1.000</td><td>0.003</td><td>Fixed cumulative value 1</td><td>0.086</td><td>0.000</td><td>0.000</td><td>1.255E-15</td><tr align=center><td>5.000</td><td>0.027</td><td>Fixed cumulative value 5</td><td>0.028</td><td>0.000</td><td>0.000</td><td>2.231E-22</td><tr align=center><td>10.000</td><td>0.090</td><td>Fixed cumulative value 10</td><td>0.016</td><td>0.029</td><td>0.071</td><td>5.061E-23</td><tr align=center><td>5.763</td><td>0.035</td><td>Minimum training presence</td><td>0.025</td><td>0.000</td><td>0.000</td><td>4.21E-23</td><tr align=center><td>25.917</td><td>0.347</td><td>10 percentile training presence</td><td>0.005</td><td>0.086</td><td>0.071</td><td>3.48E-29</td><tr align=center><td>5.763</td><td>0.035</td><td>Equal training sensitivity and specificity</td><td>0.025</td><td>0.029</td><td>0.000</td><td>4.21E-23</td><tr align=center><td>5.763</td><td>0.035</td><td>Maximum training sensitivity plus specificity</td><td>0.025</td><td>0.000</td><td>0.000</td><td>4.21E-23</td><tr align=center><td>7.998</td><td>0.062</td><td>Equal test sensitivity and specificity</td><td>0.019</td><td>0.029</td><td>0.000</td><td>8.223E-25</td><tr align=center><td>7.998</td><td>0.062</td><td>Maximum test sensitivity plus specificity</td><td>0.019</td><td>0.029</td><td>0.000</td><td>8.223E-25</td><tr align=center><td>1.612</td><td>0.005</td><td>Balance training omission, predicted area and threshold value</td><td>0.065</td><td>0.000</td><td>0.000</td><td>2.201E-17</td><tr align=center><td>11.876</td><td>0.113</td><td>Equate entropy of thresholded and original distributions</td><td>0.014</td><td>0.029</td><td>0.071</td><td>7.221E-24</td></table><br>
<br><HR><H2>Pictures of the model</H2>
This is a representation of the Maxent model for Aye_Aye.  Warmer colors show areas with better predicted conditions.  White dots show the presence locations used for training, while violet dots show test locations.  Click on the image for a full-size version.<br>
<br><a href = "plots/Aye_Aye.png"> <img src="plots/Aye_Aye.png" width=600></a><br>
<br>(A link to the Explain tool was not made for this model.  The model uses product features, while the Explain tool can only be used for additive models.)<br><br>
<br><HR><H2>Response curves</H2>
<br>These curves show how each environmental variable affects the Maxent prediction.
The 
curves show how the logistic prediction changes as each environmental variable is varied, keeping all other environmental variables at their average sample value. Click on a response curve to see a larger version.  Note that the curves can be hard to interpret if you have strongly correlated variables, as the model may depend on the correlations in ways that are not evident in the curves.  In other words, the curves show the marginal effect of changing exactly one variable, whereas the model may take advantage of sets of variables changing together.<br><br>
<a href = "plots/Aye_Aye_bio_1.png"> <img src="plots/Aye_Aye_bio_1_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_10.png"> <img src="plots/Aye_Aye_bio_10_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_11.png"> <img src="plots/Aye_Aye_bio_11_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_12.png"> <img src="plots/Aye_Aye_bio_12_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_13.png"> <img src="plots/Aye_Aye_bio_13_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_14.png"> <img src="plots/Aye_Aye_bio_14_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_15.png"> <img src="plots/Aye_Aye_bio_15_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_16.png"> <img src="plots/Aye_Aye_bio_16_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_17.png"> <img src="plots/Aye_Aye_bio_17_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_18.png"> <img src="plots/Aye_Aye_bio_18_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_19.png"> <img src="plots/Aye_Aye_bio_19_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_2.png"> <img src="plots/Aye_Aye_bio_2_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_3.png"> <img src="plots/Aye_Aye_bio_3_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_4.png"> <img src="plots/Aye_Aye_bio_4_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_5.png"> <img src="plots/Aye_Aye_bio_5_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_6.png"> <img src="plots/Aye_Aye_bio_6_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_7.png"> <img src="plots/Aye_Aye_bio_7_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_8.png"> <img src="plots/Aye_Aye_bio_8_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_9.png"> <img src="plots/Aye_Aye_bio_9_thumb.png"></a>
<br>
<br>In contrast to the above marginal response curves, each of the following curves represents a different model, namely, a Maxent model created using only the corresponding variable.  These plots reflect the dependence of predicted suitability both on the selected variable and on dependencies induced by correlations between the selected variable and other variables.  They may be easier to interpret if there are strong correlations between variables.<br><br>
<a href = "plots/Aye_Aye_bio_1_only.png"> <img src="plots/Aye_Aye_bio_1_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_10_only.png"> <img src="plots/Aye_Aye_bio_10_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_11_only.png"> <img src="plots/Aye_Aye_bio_11_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_12_only.png"> <img src="plots/Aye_Aye_bio_12_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_13_only.png"> <img src="plots/Aye_Aye_bio_13_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_14_only.png"> <img src="plots/Aye_Aye_bio_14_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_15_only.png"> <img src="plots/Aye_Aye_bio_15_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_16_only.png"> <img src="plots/Aye_Aye_bio_16_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_17_only.png"> <img src="plots/Aye_Aye_bio_17_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_18_only.png"> <img src="plots/Aye_Aye_bio_18_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_19_only.png"> <img src="plots/Aye_Aye_bio_19_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_2_only.png"> <img src="plots/Aye_Aye_bio_2_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_3_only.png"> <img src="plots/Aye_Aye_bio_3_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_4_only.png"> <img src="plots/Aye_Aye_bio_4_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_5_only.png"> <img src="plots/Aye_Aye_bio_5_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_6_only.png"> <img src="plots/Aye_Aye_bio_6_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_7_only.png"> <img src="plots/Aye_Aye_bio_7_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_8_only.png"> <img src="plots/Aye_Aye_bio_8_only_thumb.png"></a>
<a href = "plots/Aye_Aye_bio_9_only.png"> <img src="plots/Aye_Aye_bio_9_only_thumb.png"></a>
<br>
<br><HR><H2>Analysis of variable contributions</H2><br>
The following table gives estimates of relative contributions of the environmental variables to the Maxent model.  To determine the first estimate, in each iteration of the training algorithm, the increase in regularized gain is added to the contribution of the corresponding variable, or subtracted from it if the change to the absolute value of lambda is negative.  For the second estimate, for each environmental variable in turn, the values of that variable on training presence and background data are randomly permuted.  The model is reevaluated on the permuted data, and the resulting drop in training AUC is shown in the table, normalized to percentages.  As with the variable jackknife, variable contributions should be interpreted with caution when the predictor variables are correlated.<br>
<br><table border cols=3><tr><th>Variable</th><th>Percent contribution</th><th>Permutation importance</th><tr align=right><td>bio_18</td><td>52.2</td><td>9.2</td></tr><tr align=right><td>bio_4</td><td>16.7</td><td>18.4</td></tr><tr align=right><td>bio_3</td><td>15.9</td><td>9.6</td></tr><tr align=right><td>bio_7</td><td>10.6</td><td>61.7</td></tr><tr align=right><td>bio_16</td><td>1.2</td><td>0</td></tr><tr align=right><td>bio_15</td><td>1</td><td>0.6</td></tr><tr align=right><td>bio_5</td><td>0.7</td><td>0</td></tr><tr align=right><td>bio_12</td><td>0.4</td><td>0.2</td></tr><tr align=right><td>bio_13</td><td>0.4</td><td>0</td></tr><tr align=right><td>bio_14</td><td>0.3</td><td>0</td></tr><tr align=right><td>bio_8</td><td>0.3</td><td>0</td></tr><tr align=right><td>bio_17</td><td>0.2</td><td>0.1</td></tr><tr align=right><td>bio_6</td><td>0.1</td><td>0</td></tr><tr align=right><td>bio_2</td><td>0</td><td>0</td></tr><tr align=right><td>bio_19</td><td>0</td><td>0</td></tr><tr align=right><td>bio_9</td><td>0</td><td>0</td></tr><tr align=right><td>bio_11</td><td>0</td><td>0</td></tr><tr align=right><td>bio_10</td><td>0</td><td>0</td></tr><tr align=right><td>bio_1</td><td>0</td><td>0</td></tr></table><br><br>
The following picture shows the results of the jackknife test of variable importance.  The environmental variable with highest gain when used in isolation is bio_18, which therefore appears to have the most useful information by itself.  The environmental variable that decreases the gain the most when it is omitted is bio_4, which therefore appears to have the most information that isn't present in the other variables.<br>
<br><img src="plots/Aye_Aye_jacknife.png"><br>
<br>The next picture shows the same jackknife test, using test gain instead of training gain.  Note that conclusions about which variables are most important can change, now that we're looking at test data.
<br><img src="plots/Aye_Aye_jacknife_test.png"><br>
<br>Lastly, we have the same jackknife test, using AUC on test data.
<br><img src="plots/Aye_Aye_jacknife_auc.png"><br>
<br><HR><H2>Raw data outputs and control parameters</H2><br>
The data used in the above analysis is contained in the next links.  Please see the Help button for more information on these.<br>
<a href = "Aye_Aye.asc">The model applied to the training environmental layers</a><br>
<a href = "Aye_Aye.lambdas">The coefficients of the model</a><br>
<a href = "Aye_Aye_omission.csv">The omission and predicted area for varying cumulative and raw thresholds</a><br>
<a href = "Aye_Aye_samplePredictions.csv">The prediction strength at the training and (optionally) test presence sites</a><br>
<a href = "maxentResults.csv">Results for all species modeled in the same Maxent run, with summary statistics and (optionally) jackknife results</a><br>
<br><br>
Regularized training gain is 4.302, training AUC is 0.997, unregularized training gain is 4.746.<br>
Unregularized test gain is 4.587.<br>
Test AUC is 0.996, standard deviation is 0.001 (calculated as in DeLong, DeLong & Clarke-Pearson 1988, equation 2).<br>
Algorithm terminated after 500 iterations (8 seconds).<br>
<br>
The follow settings were used during the run:<br>
35 presence records used for training, 14 for testing.<br>
10032 points used to determine the Maxent distribution (background points and presence points).<br>
Environmental layers used (all continuous): bio_1 bio_10 bio_11 bio_12 bio_13 bio_14 bio_15 bio_16 bio_17 bio_18 bio_19 bio_2 bio_3 bio_4 bio_5 bio_6 bio_7 bio_8 bio_9<br>
Regularization values: linear/quadratic/product: 0.514, categorical: 0.250, threshold: 1.650, hinge: 0.500<br>
Feature types used: hinge product linear threshold quadratic<br>
responsecurves: true<br>
jackknife: true<br>
outputdirectory: /home/cmee18/Documents/CMEECoursework/Week 5/MaxentPractical/Maxent_Outputs<br>
samplesfile: /home/cmee18/Documents/CMEECoursework/Week 5/MaxentPractical/species_6302.csv<br>
environmentallayers: /home/cmee18/Documents/CMEECoursework/Week 5/MaxentPractical/ClimateData/ClimateData/current/maxent.cache<br>
randomtestpoints: 30<br>
autofeature: false<br>
Command line used: <br>
<br>
Command line to repeat this species model: java density.MaxEnt nowarnings noprefixes -E "" -E Aye_Aye responsecurves jackknife "outputdirectory=/home/cmee18/Documents/CMEECoursework/Week 5/MaxentPractical/Maxent_Outputs" "samplesfile=/home/cmee18/Documents/CMEECoursework/Week 5/MaxentPractical/species_6302.csv" "environmentallayers=/home/cmee18/Documents/CMEECoursework/Week 5/MaxentPractical/ClimateData/ClimateData/current/maxent.cache" randomtestpoints=30 noautofeature<br>
